.hero {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    object-fit: cover;
    z-index: -1;
  }
  
  .hero-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  
  .hero-2 {
    margin-top: 10rem;
    flex: none;
  }
  
  
  .hero-2 h2,
  .hero-2 p {
    color: #000000;
    text-align: center;
    margin: auto 2rem;
  }
  
  .hero-2 img {
    display: block; 
   margin: 2rem auto 0;
    transform: translateY(-100px);
    max-width: 100%;
  } 
  
  .closing{
    margin-top: 4rem;
  }
  
  .hero-btn1 {

    margin-top: 20px;
    background-color: transparent;
    color: #290102;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 1rem 1rem;
    white-space: nowrap;
  }
  
  
  .hero-btn1:hover {
    background-color: rgba(181, 10, 50, 0.325);
  }

  
  @media (min-width: 1024px) {
    .hero-inner h1 {
      font-size: 120px;
    }
  
    .hero-inner h2{
      font-size: 60px;
    }
  
  
    .hero-btn {
      flex-direction: row;
      gap: 50px;
      font-size: 20px;
    }
  
  
  .hero-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  ;
    justify-content: center;
  
  }
  
  .hero2-tekst {
    margin: auto 4rem;
    gap: 2rem;
  
  }
  
  .hero2-tekst p {
  font-size: 20px;
  text-align: center;
  }
  
  .hero2-tekst h2{
    font-size: 60px;
  }
  
  .hero2-billede{
    max-width: 100%;
    height: auto;
   
  }
  }