.projekter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  text-align: center;
  border: 2px solid #290102;
  margin: 2rem;
  font-size: 10px;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
  
  .projekter:hover {
    background-color: rgba(181, 10, 50, 0.325);
    cursor: pointer;
  }
  
  .projekter h3 {
    font-size: 16px;
    color: black;
  }
  
  
    @media screen and (min-width: 1024px) {
      .projekter {
        grid-template-columns: repeat(3, 1fr);
        margin: 4rem auto;
        padding: 4rem;
        max-width: 1000px;
      }
  
    .projekter h3 {
      font-size: 25px;
    }
  
    .link-website a {
      text-align: center;
    }
  }
  