.projekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    text-align: center;
    border: 2px solid #290102;
    margin: 2rem;
    font-size: 10px;
    text-decoration: none;
    padding: 2rem;
    transition: all 0.3s ease;
  }
  
  .projekter:hover {
    background-color: rgba(181, 10, 50, 0.325);
    cursor: pointer;
  }
  
  .projekter h3 {
    font-size: 16px;
    color: black;
  }
  
  @media screen and (min-width: 1024px) {
    .projekter {
      margin: 4rem 20rem;
      padding: 4rem;
    }
  
    .projekter h3 {
      font-size: 25px;
    }
  
    .link-website a {
      text-align: center;
    }
  }
  